* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.container::before,
svg {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 20%;
    background: #000000;
    filter: url(#noiseFilter);
    pointer-events: none;
}

svg {
    z-index: 1;
}

a {
    position: relative;
    text-decoration: none;
    color: var(--text-colors);
}

.gallery {
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
}

@media only screen and (max-width: 600px) {
    .gallery {
        left: -4%;
    }
}

.img {
    border-radius: 10px;
    width: 75px;
    height: 100px;
    overflow: hidden;
    margin: 20 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img {
    position: absolute;
    visibility: hidden;
    /* Add this line to hide the images initially */
}